[Unit]
Description=Aerospike Local Daemon
Documentation=https://github.com/aerospike/php-client
Wants=network.target
After=network-online.target

[Service]
ExecStart=/usr/bin/asld --config-file /etc/aerospike-connection-manager/asld.toml

[Install]
WantedBy=multi-user.target