Package: aerospike-php-client-@VERSION@
Version: @VERSION@
Section: Databases
Priority: optional
Architecture: all
Maintainer: Aerospike, Inc. <support@aerospike.com>
Description: The Aerospike php client library is an aerospike database client library that enables you to build applications using php
Post-Inst: postinst
BuildArch: x86_64
